.header {
    width: 373px;
    margin: 3rem auto 0 auto;
    text-align: center;

    h1 {
        color: var(--grey--dark);
        font-size: 2rem;
        line-height: 2rem;
        font-family: var(--kumbh);
    }
    &__buttons {
        height: 63px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--navy--dark--blue);
        margin-top: 55px;
        padding: 7px;
        border-radius: 31.5px;

    }
    
    &__button {
        background-color: transparent;
        font-family: var(--font);
        color: rgba(215, 224, 255, 0.4);
        cursor: pointer;
        height: 48px;
        width: 120px;
        border: none;
        border-radius: 26.5px;
        font-size: 0.875rem;
        font-weight: 700;

        &--active {
            background-color:var(--color) !important;
            border: 5px solid rgb(129, 129, 129) !important;
            color: var(--navy--blue);
        }
    }
}




       

