html[data-color="SALMON"] {
  --color : var(--salmon);
}
html[data-color="CYAN"] {
   --color : var(--cyan);

}
html[data-color="PURPLE"] {
   --color : var(--purple);
}


html[data-font="KUMHB_SANS"]{
  --font : var(--kumbh);
}
html[data-font="ROBOTO_SLAB"]{
  --font : var(--roboto);
}
html[data-font="SPACE_MONO"]{
  --font : var(--space);
}