:root {
    --salmon: #F87070;
    --cyan : #70F3F8;     
    --purple : #D881F8;    
    --grey--dark : #D7E0FF;

    --navy--blue : #1E213F;      
    --white : #FFFFFF;    
    --light--grey: #EFF1FA;    
    --navy--dark--blue : #161932;   

    --kumbh: 'Kumbh Sans', sans-serif;
    --roboto: 'Roboto Slab', serif;
    --space: 'Space Mono', monospace;
  }